body {
    background-color: beige;
    font-family: "Book Antiqua", serif;
}

#banner_pic img {
    width: 100%;
    top: 0;
    margin: 0;
    left: 0;
    position: fixed;
   
}
#banner {
    left:0;
    margin:0;
    border: 0;
    width:100%;
    top: -30px;
    text-align: center;
    position: fixed;
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px #aaa;
    
}
.welcome {
    font-size: 2em;
    text-align: center;
}
#nav_bar {
    background-color: navajowhite;
    text-align: center;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 0.8em;
    margin-bottom: 20px;
}

.nav_span {
    margin:3em;
}

#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    font-size: 1em;
    text-align: auto;
  
}
#annual {
    font-weight: bold;
}
img {
    float: left; 
    margin-right: 20px; 
    display: inline;
}
#when {
    font-weight: bold; 
}

#where {
    font-weight: bold;
}
#footer {
    position: absolute;
    left:0;
    background-color: navajowhite;
    width:100%;
    height: 50px;

}
#footer_words {
    text-align: center;
}

