body {
    background-color: beige;
    font-family: "Book Antiqua", serif;
    margin: 0;
}

.main_content {
  position: relative;
  width: 100%;
}

#banner_pic img {
    width: 100%;
    top: 0;
    margin: 0;
    left: 0;


}
#banner {
    position: absolute;
    width:100%;
    left:0;
    margin:0;
    border: 0;
    top: -30px;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px #aaa;
}
@media only screen and (max-width: 768px) {
    #banner {
        font-size: 1em !important;
    }
}

.welcome {
    font-size: 2em;
    text-align: center;
}


#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    font-size: .99em;

}
#home {
    width: 40%;
}
#annual {
    font-weight: bold;
}


.home {
    float: left;
    margin-right: 30px;
    display: inline;
    max-width: 100%;
    height: auto;
}

#memo {
    margin-top: 70px;
    text-align: center;
}

.caramel {
    float: right;
    display: inline;
    margin-left: 20px;
    margin-bottom: 80px;
    margin-right: 50px;

}

.kids {
    float: left;
   /* margin-top: 100px;*/
    margin-left: 100px;
    margin-right: 100px;
    max-width: 100%;
    height: auto;

}

#date {
    padding: .5em;
    text-align: center;
    margin-right: 400px;

}
.save {
    font-size: 2em;

}
#when {
    font-weight: bold;

}

#where {
    font-weight: bold;
}

#cost {
    font-weight: bold;
}


ul {
    align-content: flex-end;
}
#footer {
    left:0;
    margin: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: navajowhite;
    width:100%;
}

#space {
    padding-top:1em;
}

#social_media {
    left:0;
    margin: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: navajowhite;
    width:100%;
    padding-bottom: 1em;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navajowhite;
    text-align: center
}

ul.topnav li {
    display: inline-block;
}

ul.topnav li a {
    display: inline-block;
    color: #cc0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    margin-left: 3em;
    margin-right: 3em;
}

ul.topnav li a:hover {background-color: #ffb366;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
