#idx {
    font-weight: bold;
    background-color: beige;
    border-style: solid;
    border-color: darkgoldenrod;
    border-bottom-style: none;
    border-top-style: none;
    border-width: thick;
}