body {
    background-color: beige;
    font-family: "Book Antiqua", serif;
    margin: 0;
}

#banner_pic img {
    width: 100%;
    top: 0;
    margin: 0;
    left: 0;
    position: fixed;
   
}
#banner {
    position: fixed;
    width:100%;
    left:0;
    margin:0;
    border: 0;
    top: -30px;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px #aaa;    
}

.welcome {
    font-size: 2em;
    text-align: center;
}
#nav_bar {
    width: 100%;
    background-color: navajowhite;
    text-align: center;
    margin-top: 160px;
    padding: 0.8em;
    margin-bottom: 20px;
    
}

.nav_span {
    margin:3em;
}

.nav_span a {
    padding: 0.9em;
}

#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    font-size: .99em;
    
}
#annual {
    font-weight: bold;
}


.home {
    float: left;
    margin-right: 30px;
    display: inline;
}

#memo {
    margin-top: 70px;
    text-align: center;
}

.caramel {
    float: right;
    display: inline;
    margin-left: 20px; 
    margin-bottom: 80px;
    margin-right: 50px;

}

.kids {
    float: left;
   /* margin-top: 100px;*/
    margin-left: 100px;
    margin-right: 100px;
    
    
}

#date {
    padding: .5em;
    text-align: center;
    margin-right: 400px;

}
.save {
    font-size: 2em;
  
}
#when {
    font-weight: bold; 

}

#where {
    font-weight: bold;
}

#cost {
    font-weight: bold;
}


ul {
    align-content: right;
}
#footer {
    left:0;
    margin: 0;
    background-color: navajowhite;
    width:100%;
    height: 50px;
<<<<<<< HEAD
    margin-top: 50px;

}
#footer_words {
=======
    margin-top: 130px;
>>>>>>> 3a5f155b6b51f260007821849f2177ed84a0f589
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#social_media {
    background-color: navajowhite;
}

a {
    text-decoration: none;
    color: black;
    padding: 0.9em;
    padding-top: 0.8em;
}

a:hover {
    background-color: beige;
}
