.times {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-block {
    padding: 1em;
    padding-bottom: 2em; 
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#head-block {
    padding-bottom: 2em;
    text-align-last: center;
}

h5 {
    padding-bottom: 1em;
}