.times {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-block {
    padding: 1em;
    padding-bottom: 2em; 
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#head-block {
    padding-bottom: 2em;
    text-align: center;
}

h5 {
    padding-bottom: 1em;
}

#sch {
    font-weight: bold;
    background-color: beige;
    border-style: solid;
    border-color: darkgoldenrod;
    border-bottom-style: none;
    border-top-style: none;
    border-width: thick;
}