#container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 2em;
}

#map_text {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#map_img {
    width: 700px;
}

#map {
    font-weight: bold;
    background-color: beige;
    border-style: solid;
    border-color: darkgray;
    border-bottom-style: none;
    border-top-style: none;
    border-width: thick;
}